<nb-card id="card" *ngIf="afficher()">
  <nb-card-header> <h2>Nouveau collaborateur</h2> </nb-card-header>

  <nb-card-body>
    <form
      novalidate
      #formDirective="ngForm"
      (ngSubmit)="onSubmit(collaborateurForm.value)"
      [formGroup]="collaborateurForm"
    >
      <!-- Première partie : champs conseilles -->
      <div class="row">
        <div class="col-sm-6 col-md-4 mb-4 mt-2">
          <label class="titre">Nom affiché *</label>
          <input
            type="text"
            formControlName="name"
            class="form-control contenu"
            required
            [ngClass]="{
              'is-invalid':
                collaborateurForm.get('name')?.touched &&
                !collaborateurForm.get('name')?.valid
            }"
          />
          <div class="invalid-feedback">
            <span> Veuillez entrer un nom. </span>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 mb-4 mt-2">
          <label class="titre">Prénom</label>
          <input
            type="text"
            formControlName="firstName"
            class="form-control contenu"
          />
        </div>
        <div class="col-sm-6 col-md-4 mb-4 mt-2">
          <label class="titre">Nom</label>
          <input
            type="text"
            formControlName="lastName"
            class="form-control contenu"
          />
        </div>

        <div class="col-sm-6 col-md-4 mb-4">
          <label class="titre">Identifiant entreprise</label>
          <input
            type="text"
            formControlName="idEnt"
            class="form-control contenu"
          />
        </div>

        <div class="col-sm-6 col-md-4 mb-4">
          <label class="titre">Email</label>
          <input
            type="mail"
            formControlName="mail"
            class="form-control contenu"
            email
            [ngClass]="{
              'is-invalid':
                collaborateurForm.get('mail')?.touched &&
                !collaborateurForm.get('mail')?.valid
            }"
          />
          <div class="invalid-feedback">
            <span> Veuillez entrer une adresse email valide. </span>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 mb-4">
          <label class="titre">Numéro de téléphone</label>
          <input
            type="tel"
            formControlName="phone"
            class="form-control contenu"
            pattern="(0|\+[0-9]{2}|\+[0-9]{3})[0-9]{9}"
            tel
            [ngClass]="{
              'is-invalid':
                collaborateurForm.get('phone')?.touched &&
                !collaborateurForm.get('phone')?.valid
            }"
          />
          <div class="invalid-feedback">
            <span> Veuillez entrer un numéro de téléphone valide. </span>
          </div>
        </div>
      </div>

      <!-- Seconde partie : autres champs -->
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <label class="titre espace">Equipes assignées </label>
          <nb-select
            multiple
            formControlName="teams"
            class="form-control contenu"
          >
            <nb-option
              *ngFor="let name of equipesNames; let a = index"
              value="{{ equipesId[a] }}"
              >{{ name }}</nb-option
            >
          </nb-select>
        </div>
        <div class="col-sm-6 col-md-4">
          <label class="titre espace"
            >Nombres d'heures de travail par semaine :</label
          >
          <input
            type="text"
            formControlName="hours"
            class="form-control contenu nombre espace"
            [ngClass]="{
              'is-invalid':
                collaborateurForm.get('hours')?.touched &&
                !collaborateurForm.get('hours')?.valid
            }"
          />
          <div class="invalid-feedback">
            <span> Veuillez entrer un nombre d'heures valide. </span>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <label class="titre espace"
            >Nombres de jours de travail par semaine :</label
          >
          <input
            type="text"
            formControlName="days"
            class="form-control contenu nombre espace"
            [ngClass]="{
              'is-invalid':
                collaborateurForm.get('days')?.touched &&
                !collaborateurForm.get('days')?.valid
            }"
          />
          <div class="invalid-feedback">
            <span> Veuillez entrer un nombre de jours en 0 et 7. </span>
          </div>
        </div>
      </div>

      <button
        nbButton
        class="creer"
        status="primary"
        [disabled]="!collaborateurForm.valid"
        type="submit"
      >
        Créer
      </button>
      <button nbButton class="annuler" status="basic">
        <a class="annulerLink" routerLink="/">Annuler</a>
      </button>
    </form>
  </nb-card-body>
</nb-card>
