// Aspect des titres
nb-card-header {
    border-top: 3px solid rgb(165, 195, 245);
}

h2 {
    font-family: Arial, serif;
    color: rgb(60,130, 200);
    font-size: 30px;
    text-align: center;
    padding: 7px 0 7px 0;
}

.header {
    border-bottom: 1px solid rgb(165, 195, 245);
    border-top: 3px solid rgb(165, 195, 245);
}

h3 {
    font-size: 100%;
}

nb-card {
    padding-right: 5px;
    padding-left: 5px;
}

// Aspect des boutons : ajouter et supprimer un element au formulaire, valider ou annuler le formulaire
button {
    float: right;
    justify-content: space-between;
}


.ajout {
    float: left;
    justify-content: space-between;
    max-width: 230px;
    text-align: center;
    margin-top: 5px;
}

.delete {
    float: left;
    justify-content: space-between;
    max-width: 230px;
    text-align: center;
    margin-top: 20px;
}

.creer {
    border-radius: 0;
    margin-right: 5px;
    margin-bottom: 3px;
}

.annuler {
    border-radius: 0;
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    margin-right: 15px;
    margin-bottom: 5px;
    background-color: white;
}

.annulerLink{
    text-decoration: none;
    color: rgb(51, 51, 51);
}

// Aspect des champs
.titre {
    margin-top: 5px;
    color: rgb(160, 160, 160);
}

.contenu {
    background-color: rgb(240, 240, 240);
    border-radius: 0;
}

.pause {
    width: 101.8px;
}

.contenuReadOnly {
    background-color: white;
    border-radius: 0;
}

// Shift Horaire : conteneur
.container {
    display: grid;
    justify-content: left;
    grid-template-columns: auto auto auto auto auto auto auto; 
  
}

.grid-item {
    padding: 5px;
    min-width: 100px;
}

.iconPosition {
    margin-top: 40px;
    max-width: 20px;
}

// Choix des couleurs des créneaux
.colorButton {
    border: none;
    padding: 5px;
    padding-left: 60px;
    border-radius: 30px;
    float: right;
}

.color {
    border: none;
    margin: 3px;
    padding: 10px;
    border-radius: 30px;
}

table, td {
    border: 1px solid rgb(242, 242, 243);
    z-index: 10;
}

.blue1 {
    background-color: #ffe6a0;
}
 
.green1 {
    background-color: #d2ebbe;
}

.yellow1 {
    background-color: #bee1fa;
}

.blue2 {
    background-color: #c8dce1;
}
 
.green2 {
    background-color: #e1e1e1;
}

.yellow2 {
    background-color: #e6d2f0;
}

.blue3 {
    background-color: #0f7d50;
}
 
.green3 {
    background-color: #0f5abe;
}

.yellow3 {
    background-color: #235f6e;
}

.blue4 {
    background-color:#646464;
}

#card {
    padding: 7px 0 7px 0;
}