<nb-layout>
  <nb-layout-header fixed>
    <img src="assets/logo.jpeg" alt="logo" style="height: 40px" />
    <h1>Planeezy</h1>

    <!-- Menu général, equipes à afficher et ajout d'équipe et collaborateur -->
    <div *ngIf="header()" class="header-right">
      <button class="button" ghost size="small" (click)="afficherMenu()">
        Equipes<nb-icon icon="arrow-ios-downward-outline"></nb-icon>
      </button>
      <button
        nbButton
        ghost
        (click)="rangerMenu()"
        size="small"
        class="right"
        status="primary"
      >
        <a routerLink="/ajoutEquipe"
          ><nb-icon icon="file-add-outline"></nb-icon
        ></a>
      </button>
      <button
        nbButton
        ghost
        (click)="rangerMenu()"
        size="small"
        class="right"
        status="basic"
      >
        <a routerLink="/ajoutCollaborateur"
          ><nb-icon icon="person-add-outline"></nb-icon
        ></a>
      </button>

      <button
        nbButton
        ghost
        (click)="generate()"
        size="small"
        class="right"
        status="basic"
      >
        <a routerLink="/"> <nb-icon icon="download-outline"></nb-icon></a>
      </button>
      <dl class="col-sm-2 col-md-1 menu" *ngIf="menu">
        <dt *ngFor="let equipe of equipes; let i = index">
          <nb-checkbox
            class="menuItem"
            [checked]="equipesShow[i]"
            (checkedChange)="equipeShow($event, i)"
            >{{ equipe.name }}
          </nb-checkbox>
        </dt>
      </dl>
    </div>

    <!-- Choix des jours à afficher-->
    <div class="choixJours" *ngIf="header()">
      <button type="button" class="jour" id="jour1" (click)="setSemaine(1)">
        Lu
      </button>
      <button type="button" class="jour" id="jour2" (click)="setSemaine(2)">
        Ma
      </button>
      <button type="button" class="jour" id="jour3" (click)="setSemaine(3)">
        Me
      </button>
      <button type="button" class="jour" id="jour4" (click)="setSemaine(4)">
        Je
      </button>
      <button type="button" class="jour" id="jour5" (click)="setSemaine(5)">
        Ve
      </button>
      <button type="button" class="jour" id="jour6" (click)="setSemaine(6)">
        Sa
      </button>
      <button type="button" class="jour" id="jour0" (click)="setSemaine(0)">
        Di
      </button>
    </div>

    <button
      *ngIf="header()"
      (click)="changeDate('-')"
      size="small"
      class="fleche"
    >
      <nb-icon icon="arrow-ios-back-outline"></nb-icon>
    </button>

    <input
      *ngIf="header()"
      class="pickDate"
      placeholder="Choisir une date"
      [nbDatepicker]="dateTimePicker"
      (focusin)="getDate(dateTimePicker.value)"
    />
    <nb-datepicker #dateTimePicker [filter]="filterFn"></nb-datepicker>

    <button
      *ngIf="header()"
      (click)="changeDate('+')"
      size="small"
      class="fleche"
    >
      <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
    </button>

    <button
      *ngIf="header()"
      type="button"
      class="aujourdhui"
      (click)="getDate()"
    >
      Aujourd'hui
    </button>

    <select *ngIf="header()" class="semaine" (change)="setWeekNumber($event)">
      <option [value]="1">1 semaine</option>
      <option [value]="2">2 semaines</option>
      <option [value]="3">3 semaines</option>
      <option [value]="4">4 semaines</option>
    </select>

    <div class="connexion" *ngIf="isAuthenticated">
      <div class="initial">
        {{ userName[0] }}
      </div>
      <button
        *ngIf="isAuthenticated"
        (click)="logout()"
        nbButton
        ghost
        size="small"
        class="right deconnexion"
        status="basic"
      >
        <nb-icon icon="power-outline"></nb-icon>
      </button>
    </div>
  </nb-layout-header>

  <nb-layout-column *ngIf="!header()"
    ><app-login></app-login> <app-signup></app-signup
  ></nb-layout-column>

  <!-- Affichage des calendriers-->
  <nb-layout-column>
    <div class="row">
      <div class="col-sm-12 col-md-12" *ngIf="header()">
        <router-outlet></router-outlet>
        <div *ngIf="equipes != undefined && equipes.length > 0">
          <div *ngIf="detail()">
            <div *ngFor="let equipe of equipes; let i = index">
              <div *ngIf="equipesShow[i]">
                <app-planning
                  [equipeId]="equipe.id"
                  [equipeCollab]="equipe.collaborateursId"
                  [week]="week"
                  [semaine]="semaine"
                  [weekNumber]="weekNumber"
                  [Z]="i"
                >
                </app-planning>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
